@font-face {
    font-family: "Gilroy";
    font-style: normal;
    src: url(../fonts/gilroyextrabold.woff2) format("woff2"), url(../fonts/gilroyextrabold.woff) format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    src: url(../fonts/gilroylight.woff2') format("woff2"), url(../fonts/gilroylight.woff) format("woff");
    font-weight: 300;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

html {
    box-sizing: border-box;
   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-grey: #3A3A3A;
    --basic-half-grey: #DCDCDC;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C992;
    --special-yellow-dark: #F0C52E;
    --grey-amber: #B8A974;
    --soft-yellow: #F7E184;
    --pure-or-mostly-pure-yellow: #FFC600;
    --white03: rgba(255, 255, 255, 0.3);
    --white30: rgba(0, 0, 0, 0.3);
    --white60: rgba(0, 0, 0, 0.6);
    --white70: rgba(255, 255, 255, 0.7);
    --black80: rgba(0, 0, 0, 0.8);
    --black20: rgba(0, 0, 0, 0.2);
    --black10: rgba(0, 0, 0, 0.1);
    --very-dark-gray-mostly-black: #212121;
    --bright-yellow: rgba(240, 197, 46, 0.5);
    --very-light-gray: #E6E6E6;
    --gray80: rgba(230, 230, 230, 0.8);
    --gray70: rgba(238, 238, 238, 0.7);
    --gray50: rgba(230, 230, 230, 0.5);
    --very-soft-red: rgba(237, 181, 181, 1.0);
    --very-dark-gray: rgba(70, 70, 70, 0.4);
    --dark-gray: #464646;
    --gray: #ABABAB;
    --gray10: #EFEFEF;
    --gray20: #DBDBDB;
    --gray30: #DADADA;
    --gray40: #A6A6A6;
    --strong-green: #91C92F;
    --gray: #ABABAB;
}


body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background: none;
    border: none;
    cursor: pointer;
}

.btn:active {
    color: var(--white30);
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    z-index: -1;
    width: inherit;
    height: 8px;
    margin-top: -5px;
    background-color: var(--special-yellow-dark);
}

.btn:hover::before,
.btn:focus::before {
    top: 0;
    height: 40px;
    margin: 0;
    transition: all 0.3s linear;
}

.btn:active::before {
    top: 0;
    height: 40px;
    margin: 0;
    color: var(--white30);
    transition: all 0.3s linear;
}


.page-header {
   
    position: relative;
    width: 1160px;
    margin: 0 auto;
    color: var(--basic-black);
    background-color: var(--special-yellow);
}

.page-body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.catalog {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page-footer {
    display: grid;
    grid-template-columns: 1fr min-content;  
    min-height: 324px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative; 
    padding-top: 63px;
    padding-bottom: 57px;
    color: var(--basic-white);
    background-color: var(--dark-gray);
}

.page-header__logo {
    position: absolute;
    top: -19px;
    left: 59px;
}

.catalog .page-header__logo {
    top: -17px;
}

.page-header__logo a {
    cursor: pointer;
}

.page-header__logo a:hover,
.page-header__logo a:focus {
    opacity: 0.6;

    transition: all 0.2s linear;
}

.page-header__logo a:active {
    opacity: 0.3;
}

.page-header__logo img {
    width: 164px;
    height: 36px;
}

.main-nav {
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 160px;
    padding-left: 60px;
}

.catalog .main-nav {
    padding-bottom: 47px;
}

.main-nav__user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 21px;

    list-style: none;
}

.main-nav__user-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 27px;
}

.main-nav__user-item--search {
    width: 540px;
}

.main-nav__user-item--login {
    width: 280px;
    padding-left: 26px;
}

.main-nav__user-item--compare {
    width: 110px;
}

.main-nav__user-item--cart {
    width: 110px;

    text-align: right;
}

.main-nav__search {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 440px;
}

.main-nav__search-label {
    position: absolute;
    top: 8px;
    left: -24px;

    width: 20px;
    height: 20px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-nav__search-label::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: none;
    width: 400px;
    height: 2px;
    background-color: var(--basic-black);
}

.main-nav__search-input {
    position: relative;

    width: 320px;
    height: 30px;
    margin-left: 10px;
    padding: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--basic-black);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-nav__search-input::-webkit-input-placeholder {
    color: var(--white30);
}

.main-nav__search-input:-ms-input-placeholder {
    color: var(--white30);
}

.main-nav__search-input::-ms-input-placeholder {
    color: var(--white30);
}

.main-nav__search-input::placeholder {
    color: var(--white30);
}

.main-nav__search-input:hover::-webkit-input-placeholder {
    color: var(--white60);
}

.main-nav__search-input:hover:-ms-input-placeholder {
    color: var(--white60);
}

.main-nav__search-input:hover::-ms-input-placeholder {
    color: var(--white60);
}

.main-nav__search-input:hover::placeholder {
    color: var(--white60);
}

.main-nav__search-input:focus::-webkit-input-placeholder {
    font-size: 0;
}

.main-nav__search-input:focus:-ms-input-placeholder {
    font-size: 0;
}

.main-nav__search-input:focus::-ms-input-placeholder {
    font-size: 0;
}

.main-nav__search-input:focus::placeholder {
    font-size: 0;
}

.main-nav__search-input:focus ~ .main-nav__search-label::before {
    display: block;
}

.main-nav__search-input:focus ~ .main-nav__search-btn {
    z-index: 0;

    opacity: 1;
}


.main-nav__search-btn {
    position: absolute;
    top: -9px;
    left: 330px;
    z-index: -1;
    width: 85px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    background: none;
    background-color: transparent;
    border: 2px solid var(--basic-black);
    cursor: pointer;
    opacity: 0;
}

.main-nav__search-btn:hover {
    color: var(--basic-white);
    background-color: var(--basic-black);
    transition: all 0.1s linear;
}

.main-nav__search-btn:focus {
    z-index: 0;
    color: var(--basic-white);
    background-color: var(--basic-black);
    opacity: 1;
    transition: all 0.1s linear;
}

.main-nav__search-btn:active {
    color: var(--white03);
}

.main-nav__search-btn:focus ~ .main-nav__search-label::before {
    display: block;
}

.main-nav__user-link {
    position: relative;
    color: var(--basic-black);
}

.main-nav__user-link:hover {
    opacity: 0.6;
}

.main-nav__user-link:hover::before {
    opacity: 0.6;
}

.main-nav__user-link:active {
    opacity: 0.3;
}

.main-nav__user-link:active::before {
    opacity: 0.3;
}

.main-nav__user-link::before {
    content: "";
    position: absolute;

    width: 13px;
    height: 12px;

    background-repeat: no-repeat;
}

.main-nav__user-link--login::before {
    bottom: 4px;
    left: -26px;

    background-image: url("../img/black-user.svg");
}

.main-nav__user-link--profile::before {
    bottom: 4px;
    left: -26px;

    background-image: url("../img/black-user.svg");
}

.main-nav__user-link--compare::before {
    bottom: 2px;
    left: -20px;

    background-image: url("../img/black-compare.svg");
}

.main-nav__user-link--cart::before {
    bottom: 4px;
    left: -23px;

    background-image: url("../img/black-cart.svg");
}

.main-nav__user-link--logout {
    margin-left: 15px;

    color: var(--white30);
}

.main-nav__user-link--logout:hover {
    color: var(--white60);
}

.main-nav__user-link--logout:active {
    color: var(--black10);
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item--catalog {
    position: relative;

    width: 540px;
}

.main-nav__item--delivery {
    width: 158px;
}

.main-nav__item--warranty {
    width: 162px;
}

.main-nav__item--contacts {
    width: 180px;

    text-align: right;
}

.main-nav__link {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.main-nav__link:hover {
    opacity: 0.6;
}

.main-nav__link:active {
    opacity: 0.3;
}

.main-nav__link--catalog {
    position: relative;
}

.main-nav__link--catalog:hover + .main-nav__sub-wrap {
    display: block;
}

.main-nav__link--catalog::before {
    content: "";
    position: absolute;
    right: -27px;
    bottom: 10px;
    width: 16px;
    height: 2px;
    background-color: var(--grey-amber);
}

.main-nav__link--catalog::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 3px;

    width: 2px;
    height: 16px;

    background-color: var(--grey-amber);
    ;
}

.main-nav__link--contacts {
    margin-right: -0.2em;
}

.main-nav__sub-wrap {
    position: absolute;
    top: 22px;
    left: -60px;
    z-index: 2;
    display: none;
    width: 1160px;
    padding-top: 26px;
    padding-bottom: 34px;
    padding-left: 60px;

    background-color: var(--special-yellow);
}

.main-nav__sub-wrap:hover {
    display: block;
}

.main-nav__sub-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    font-family: "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.01em;
}

.main-nav__sub-column {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-right: 20px;
}

.main-nav__sub-column:first-child {
    width: 240px;
}

.main-nav__sub-column a {
    display: block;
    color: var(--basic-black);
}

.main-nav__sub-column a:hover {
    opacity: 0.6;
}

.main-nav__sub-column a:active {
    opacity: 0.3;
}




.promo-slider {
    position: relative;
    z-index: 1;
}

.promo-slider__item {
    position: relative;
    display: flex;
    margin-top: -110px;
    padding-bottom: 97px;
}

.promo-slider__item--2 {
    padding-bottom: 85px;
}

.promo-slider__item--3 {
    padding-bottom: 114px;
}

.promo-slider__img-wrap {
    width: 560px;
    margin-right: 40px;

    text-align: center;
}

.promo-slider__img-wrap--01 img {
    width: 384px;
    height: 486px;
    margin-top: -1px;
    margin-left: 5px;
}

.promo-slider__img-wrap--02 img {
    width: 345px;
    height: 485px;
    margin-top: 12px;
    margin-left: 16px;
}

.promo-slider__img-wrap--03 img {
    width: 526px;
    height: 334px;
    margin-top: 65px;
    margin-left: 30px;
}

.promo-slider__descr-wrap {
    position: relative;

    width: 560px;
    padding-top: 78px;
}

.promo-slider__descr-wrap::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;

    width: 100px;
    height: 7px;

    background-color: var(--basic-white);
}

.promo-slider__descr-wrap::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 50px;
    z-index: -1;

    font-weight: 800;
    font-size: 179px;
    line-height: 179px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-white);
}

.promo-slider__descr-wrap--1::after {
    content: "01";
}

.promo-slider__descr-wrap--2::after {
    content: "02";
    right: 52px;
}

.promo-slider__descr-wrap--3::after {
    content: "03";
    right: 53px;
}

.promo-slider__descr-wrap b {
    display: block;
    padding-bottom: 19px;

    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    letter-spacing: 0.01em;
}

.promo-slider__descr-wrap p {
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.01em;
}

.promo-slider__descr-wrap--1 p {
    width: 490px;
}

.promo-slider__descr-wrap--2 p,
.promo-slider__descr-wrap--3 p {
    width: 460px;
}

.promo-slider__descr-wrap .btn {
    width: 220px;
    margin-top: 42px;
    margin-bottom: 46px;
    margin-left: 2px;

    background: none;
    border: none;
}

.promo-slider__controls {
    position: absolute;
    right: 82px;
    bottom: 253px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    width: 78px;
}

.promo-slider__control {
    position: relative;

    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;

    border: 1px solid var(--basic-black);
    border-radius: 6px;
    cursor: pointer;
}

.promo-slider__control::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;

    display: none;
    box-sizing: border-box;
    width: 6px;
    height: 6px;

    border: 1px solid var(--basic-black);
    border-radius: 3px;
}



.promo-slider__advantages {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.promo-slider__advantages--1 {
    width: 460px;
}

.promo-slider__advantages--2 {
    width: 200px;
}

.promo-slider__advantages--3 {
    width: 300px;
}

.promo-slider__advantages-col {
    display: block;
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
}

.promo-slider__advantages-descr {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 8px;

    font-size: 13px;
    line-height: 20px;
    text-align: left;
}

.promo-slider__advantages-col--first {
    width: 160px;
}

.promo-slider__advantages-col--second {
    width: 140px;
}

.promo-slider__advantages-col--third {
    flex-grow: 1;
    width: 160px;
}

.promo-slider__advantages-descr--first {
    width: 160px;
}

.promo-slider__advantages-descr--second {
    width: 140px;
}

.promo-slider__advantages-descr--third {
    flex-grow: 1;
    width: 160px;
}

.promo-slider__advantages--2 .promo-slider__advantages-col--first {
    flex-grow: 1;
}






.main-goods {
    
    margin: 0 auto;
    width: 1160px;
    margin-top: 96px;
    margin-bottom: 84px;
}

.main-goods__list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}




.main-goods__item-wrap {
    width: 160px;
    height: 160px;

    background-color: var(--bright-yellow);
}

.main-goods__item-wrap--vr {
    padding-top: 52px;
    padding-right: 32px;
    padding-bottom: 53px;
    padding-left: 31px;
}

.main-goods__item-wrap--vr img {
    width: 97px;
    height: 55px;
}

.main-goods__item-wrap--selfie {
    padding-top: 41px;
    padding-right: 36px;
    padding-bottom: 2px;
    padding-left: 38px;
}

.main-goods__item-wrap--selfie + p {
    width: 100px;
}

.main-goods__item-wrap--selfie img {
    width: 86px;
    height: 117px;
}

.main-goods__item-wrap--cam {
    padding-top: 38px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-left: 49px;
}

.main-goods__item-wrap--cam img {
    width: 71px;
    height: 87px;
}

.main-goods__item-wrap--fit {
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 45px;
    padding-left: 28px;
}

.main-goods__item-wrap--fit img {
    width: 107px;
    height: 65px;
}

.main-goods__item-wrap--watch {
    padding-top: 32px;
    padding-right: 49px;
    padding-bottom: 30px;
    padding-left: 55px;
}

.main-goods__item-wrap--watch img {
    width: 56px;
    height: 98px;
}

.main-goods__item-wrap--copter {
    padding-top: 49px;
    padding-right: 15px;
    padding-bottom: 42px;
    padding-left: 13px;
}

.main-goods__item-wrap--copter img {
    width: 132px;
    height: 69px;
}

.main-goods__item-link:hover .main-goods__item-wrap,
.main-goods__item-link:focus .main-goods__item-wrap {
    background-color: var(--special-yellow-dark);

    transition: all 0.2s linear;
}

.main-goods__item-link:active .main-goods__item-img,
.main-goods__item-link:active .main-goods__item-name {
    opacity: 0.3;
}

.main-goods__item-name {
    width: 160px;
    margin: 0;
    padding-top: 33px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
}

.services-slider {
   
    position: relative;
    margin-bottom: 90px;
   
}

.feature-wrapper {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.services-slider::before {
    content: "";
    position: absolute;
    top: 163px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: calc(100% - 164px);

    background-color: var(--basic-grey-light);
}

.services-slider-wrap {
    z-index: 1;

    display: flex;
    padding-bottom: 118px;
}

.services-slider__item {
    position: relative;

    order: 2;
    width: 460px;
    margin-left: 120px;
    padding-top: 136px;
}

.services-slider__item--delivery::before {
    content: "";
    position: absolute;
    top: 148px;
    right: -234px;
    z-index: 0;

    width: 136px;
    height: 164px;

    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
}

.services-slider__item--warranty {
    margin-left: 121px;
}

.services-slider__item--warranty::before {
    content: "";
    position: absolute;
    top: 124px;
    right: -253px;
    z-index: 0;

    width: 171px;
    height: 195px;

    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
}

.services-slider__item--credit::before {
    content: "";
    position: absolute;
    top: 124px;
    right: -258px;
    z-index: 0;

    width: 156px;
    height: 188px;

    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
}

.services-slider__item--credit {
    width: 430px;
}

.services-slider__item h3 {
    margin: 0;
    padding-bottom: 31px;
}

.services-slider__item p {
    margin: 0;
}

.services-slider__controls {
    position: relative;

    padding-top: 142px;
    padding-right: 120px;
}

.services-slider__controls::before {
    content: "";
    position: absolute;
    top: 63px;
    right: -4px;

    width: 7px;
    height: calc(100% - 15px);

    background-color: var(--basic-black);
}

.services-slider__control {
    position: relative;
    z-index: 1;

    display: block;
    order: 1;
    width: 160px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    cursor: pointer;
}

.services-slider__control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;

    width: 160px;
    height: 8px;
    margin-top: -4px;

    background-color: #f0c52e;
}

.services-slider__control::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;

    width: 0;
    height: 40px;

    background-color: var(--special-yellow-dark);
}

.services-slider__control:hover::before {
    top: 0;

    height: 40px;
    margin: 0;

    transition: all 0.3s linear;
}

.services-slider__item h3 {
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
}

.brands {
    margin: 0 auto;
    width: 1160px;
}

.brand-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 90px;
    list-style-type: none;
}

.main-brands__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 254px;
}

.main-brands__link {
    width: 260px;
    height: 100px;

    opacity: 0.2;
}

.main-brands__link:hover,
.main-brands__link:focus {
    opacity: 1;

    transition: all 0.3s linear;
}

.main-brands__link--dji {
    background-image: url("../img/main-brands-dji-gray.png");
}

.main-brands__link--dji:hover,
.main-brands__link--dji:focus {
    background-image: url("../img/main-brands-dji.png");
}

.main-brands__link--spg {
    background-image: url("../img/main-brands-spg-gray.png");
}

.main-brands__link--spg:hover,
.main-brands__link--spg:focus {
    background-image: url("../img/main-brands-spg.png");
}

.main-brands__link--gopro {
    background-image: url("../img/main-brands-gopro-gray.png");
}

.main-brands__link--gopro:hover,
.main-brands__link--gopro:focus {
    background-image: url("../img/main-brands-gopro.png");
}

.main-brands__link--vive {
    background-image: url("../img/main-brands-vive-gray.png");
}

.main-brands__link--vive:hover,
.main-brands__link--vive:focus {
    background-image: url("../img/main-brands-vive.png");
}

.main-info-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 77px;
}

.main-info {
    position: relative;

    width: 560px;
}

.main-info::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.main-info .btn,
.main-contacts .btn {
    width: 260px;

    background: none;
    border: none;
}

.main-info h3,
.main-contacts h3 {
    margin: 0;
    padding-bottom: 43px;

    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: #000000;
}

.main-info__descr {
    padding-bottom: 36px;
}

.main-info__descr p:first-child {
    width: 460px;
    margin: 0;
    padding-bottom: 30px;
}

.main-info__descr p:last-child {
    width: 485px;
    margin: 0;
    padding-bottom: 30px;
}

.main-info__delivery-list {
    margin: 0;
    padding: 0;
    padding-bottom: 52px;
    padding-left: 36px;

    list-style: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
}

.main-info__delivery-item {
    position: relative;
}

.main-info__delivery-item::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -34px;

    width: 8px;
    height: 8px;

    border: 2px solid var(--very-light-gray);
    border-radius: 50%;
}

.main-info .btn {
    margin-left: 3px;
}

.main-contacts {
    position: relative;

    width: 560px;
}

.main-contacts::before {
    content: "";
    position: absolute;
    top: -52px;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: var(--basic-black);
}

.main-contacts h3 {
    margin-left: -3px;
}

.main-contacts p {
    margin: 0;
    padding-bottom: 39px;
}

.main-contacts__map {
    display: block;
    margin-left: 1px;
}

.main-contacts__map img {
    width: 560px;
    height: 222px;
}

.main-contacts .btn {
    margin-top: 59px;
    margin-left: 3px;
}



.page-footer__user-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer__logo {
    padding-top: 2px;
}

.page-footer__logo img {
    width: 164px;
    height: 36px;
}

.page-footer__user-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.page-footer__user-item {
    text-align: right;
}

.page-footer__user-item--login {
    flex-grow: 1;
    margin-right: 33px;
}

.page-footer__user-item--compare {
    width: 100px;
    margin-right: 22px;
}

.page-footer__user-item--cart {
    width: 100px;
}

.page-footer__logo a {
    cursor: pointer;
}

.page-footer__logo a:hover {
    opacity: 0.6;

    transition: all 0.2s linear;
}

.page-footer__logo a:active {
    opacity: 0.3;
}

.page-footer__user-link {
    position: relative;

    text-align: right;
    color: var(--white70);
}

.page-footer__user-link--logout {
    color: var(--white30);
}

.page-footer__user-link--profile {
    margin-right: 16px;
}

.page-footer__user-link--logout:hover {
    color: var(--basic-white);
}

.page-footer__user-link:hover {
    color: var(--basic-white);
}

.page-footer__user-link:active {
    color: var(--white30);
}

.page-footer__user-link:hover::before {
    opacity: 0.6;
}

.page-footer__user-link:active::before {
    opacity: 0.3;
}

.page-footer__user-link::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: -23px;

    width: 13px;
    height: 12px;

    background-repeat: no-repeat;
}

.page-footer__user-link--login::before {
    left: -26px;

    background-image: url("../img/yellow-user.svg");
}

.page-footer__user-link--profile::before {
    left: -26px;

    background-image: url("../img/yellow-user.svg");
}

.page-footer__user-link--compare::before {
    bottom: 2px;
    left: -20px;

    background-image: url("../img/yellow-compare.svg");
}

.page-footer__user-link--cart::before {
    background-image: url("../img/yellow-cart.svg");
}

.page-footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 62px;
}

.page-footer__address {
    flex-grow: 7;
}

.page-footer__services {
    display: flex;
    flex-grow: 5;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 6px;
}

.page-footer__services-link {
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-footer__services a:hover {
    color: var(--white60);
}

.page-footer__services a:active {
    color: var(--white30);
}

.page-footer__phone {
    flex-grow: 9;

    text-align: right;
}

.page-footer__phone a {
    color: var(--basic-white);
}

.page-footer__links {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.page-footer__links::before {
    content: "";
    position: absolute;
    bottom: 22px;
    left: 1px;

    width: 80px;
    height: 7px;

    background-color: var(--pure-or-mostly-pure-yellow);
}

.page-footer__links-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 690px;
}

.page-footer__social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 148px;
    margin: 0;
    padding-top: 2px;

    list-style-type: none;
}

.page-footer__social-link {
    position: relative;

    width: 32px;
    height: 32px;

    opacity: 0.3;
}

.page-footer__social-link::before {
    content: "";
    position: absolute;

    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
}

.page-footer__social-link--fb::before {
    background-image: url(../img/facebook.svg);
}

.page-footer__social-link--inst::before {
    background-image: url(../img/instagram.svg);
}

.page-footer__social-link--tw::before {
    background-image: url(../img/twitter.svg);
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
    opacity: 0.6;

    transition: all 0.2s linear;
}

.page-footer__social-link:active {
    opacity: 0.1;
}

.page-footer__copyright img {
    width: 27px;
    height: 35px;
}

.page-footer__copyright a:hover,
.page-footer__copyright a:focus {
    opacity: 0.6;

    transition: all 0.2s linear;
}

.page-footer__copyright a:active {
    opacity: 0.3;
}

.popup-write-us {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: none;
    width: 960px;
    background-color: var(--basic-white);
    box-shadow: 0 10px 20px var(--black20);
}

-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-animation-duration: 0.6s;
animation-duration: 0.6s;
}

.popup-write-us--active {
    display: block;
}

.popup-write-us--error {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.popup-write-us__wrap {
    position: relative;
    display: flex;
    padding-top: 93px;
    padding-right: 100px;
    padding-bottom: 76px;
    padding-left: 100px;
}

.popup-form {
    display: flex;
    flex-wrap: wrap;
}

.popup-input-wrap {
    display: flex;
    flex-direction: column;
}

.popup-input-wrap--name {
    padding-right: 40px;
    padding-bottom: 34px;
}

.popup-write-us label {
    width: 360px;
    padding-bottom: 6px;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);

    cursor: pointer;
}

.popup-input-wrap--message {
    padding-bottom: 20px;
}

.popup-input-wrap--message label {
    padding-bottom: 8px;
}

.popup-write-us input {
    width: 360px;
    height: 50px;
    padding-top: 16px;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--dark-gray);
    background-color: var(--gray50);
    border: none;
    outline: none;
}

.popup-write-us input:hover {
    background-color: var(--gray80);
}

.popup-write-us input:focus {
    background-color: var(--basic-white);
    border: 3px solid var(--bright-yellow);
}

.popup-write-us input:invalid {
    background-color: var(--very-soft-red);
}

.popup-write-us input::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.popup-write-us input:-ms-input-placeholder {
    color: var(--very-dark-gray);
}

.popup-write-us input::-ms-input-placeholder {
    color: var(--very-dark-gray);
}

.popup-write-us input::placeholder {
    color: var(--very-dark-gray);
}

.popup-write-us textarea {
    width: 760px;
    min-height: 156px;
    padding: 14px 19px;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-gray);
    background-color: var(--gray50);
    border: none;
    outline: none;

    resize: none;
}

.popup-form .btn {
    margin-top: 18px;
}

.popup-write-us textarea:hover {
    background-color: var(--gray80);
}

.popup-write-us textarea:focus {
    background-color: var(--basic-white);
    border: 3px solid var(--bright-yellow);
}

.popup-write-us textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--very-dark-gray);
}

.popup-write-us textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--very-dark-gray);
}

.popup-write-us textarea::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--very-dark-gray);
}

.popup-write-us textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--very-dark-gray);
}

.popup-write-us .btn {
    width: 200px;

    background: none;
    border: none;
}

.popup-write-us__close,
.popup-map__close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;

    background-color: var(--special-yellow-dark);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.popup-write-us__close::before,
.popup-map__close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 30px;

    background-color: var(--basic-white);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us__close::after,
.popup-map__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 30px;

    background-color: var(--basic-white);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us__close:hover,
.popup-map__close:hover {
    opacity: 1;

    transition: all 0.2s linear;
}

.popup-write-us__close:active,
.popup-map__close:active {
    opacity: 0.3;
}

.popup-map {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    display: none;
    width: 960px;
    height: 560px;

    background-color: var(--basic-white);
    box-shadow: 0 10px 20px var(--black20);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.popup-map--active {
    display: block;
}

.popup-map__wrap {
    position: relative;
}

.popup-map__wrap iframe {
    width: 960px;
    height: 560px;

    border: none;
}




.page-content__header {
    padding-top: 37px;
    padding-bottom: 44px;
    padding-left: 59px;
}

.page-content__title {
    margin: 0;
    padding-bottom: 20px;

    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    letter-spacing: 0.01em;
}

.breadcrumbs__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.breadcrumbs__item {
    position: relative;

    padding-right: 37px;
}

.breadcrumbs__item::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 19px;
    width: 5px;
    height: 5px;
    border-right: 1px solid var(--basic-black);
    border-top: 1px solid var(--basic-black);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.breadcrumbs__item:nth-child(2)::after {
    right: 16px;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item a {
    font-size: 14px;
    line-height: 24px;
    color: var(--white30);
    letter-spacing: 0.01em;
}

.breadcrumbs__item a:hover {
    color: var(--white60);
}

.breadcrumbs__item:last-child a:hover {
    color: var(--white30);
}

.breadcrumbs__item:last-child a:active {
    color: var(--white30);
}

.breadcrumbs__item a:active {
    color: var(--white10);
}

.page-content__wrap {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 328px;

    background-color: var(--gray10);
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;

    background-color: var(--gray10);
}

.goods {
    width: 832px;
}

.sidebar h2 {
    position: relative;

    width: 328px;
    margin: 0;
    padding-top: 23px;
    padding-right: 68px;
    padding-bottom: 23px;
    padding-left: 60px;

    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    background-color: var(--basic-half-grey);
}

.sidebar h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 328px;

    width: 100vw;
    height: 70px;

    background-color: var(--basic-half-grey);
}

.filter {
    width: 270px;
    padding-top: 69px;
    padding-right: 68px;
}

.filter__item-wrap {
    position: relative;
}

.filter__item-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;

    width: 201px;
    height: 2px;

    background-color: var(--basic-black);
}

.filter__item {
    width: 202px;
    margin: 0;
    padding: 0;

    border: none;
}

.filter__item legend {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 18px;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    letter-spacing: 0.01em;
}

.filter__item--price legend {
    padding-bottom: 35px;
}

.filter-range {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.filter-range__controls {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.filter-range__scale {
    height: 2px;

    background-color: var(--gray20);
}

.filter-range__bar {
    width: 60%;
    height: 2px;

    background-color: var(--strong-green);
}

.filter-range__toggle {
    position: absolute;

    width: 20px;
    height: 20px;

    background-color: var(--gray);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px var(--gray30);
    cursor: pointer;
}

.filter-range__toggle:active {
    width: 22px;
    height: 22px;

    border: 9px solid var(--basic-white);
}

.filter-range__toggle--min {
    top: -10px;
    left: -4px;
}

.filter-range__toggle--max {
    top: -10px;
    left: 109px;
}

.filter-range__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--black20);
    letter-spacing: 0;
}

.filter-range__label--min {
    flex-grow: 1;
    margin-right: 18px;
}

.filter-range__label--max {
    flex-grow: 1;
}

.filter-range__input {
    width: 50px;
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--black20);
    letter-spacing: 0;

    background: none;
    border: 0;
}

.filter__checkbox-list {
    margin: 0;
    padding: 0;
    padding-bottom: 31px;

    list-style-type: none;
}

.filter__checkbox-item {
    padding-left: 39px;
}

.filter__checkbox-label {
    position: relative;

    font-size: 14px;
    line-height: 40px;
    color: var(--basic-black);
    letter-spacing: 0.01em;

    cursor: pointer;
}






.filter .btn {
    width: 200px;
    margin-left: 2px;

    background: none;
    border: none;
}

.goods__sort {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 832px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 72px;
}

.goods__sort::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;

    background-color: var(--gray80);
}

.goods__sort h3 {
    margin: 0;
    margin-right: 55px;

    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.goods__sort-list {
    display: flex;
    flex-wrap: wrap;
    width: 519px;
    margin: 0;
    padding: 0;
    padding-right: 18px;
    padding-bottom: 4px;

    list-style-type: none;
}

.goods__sort-item {
    margin-right: 28px;
}

.goods__sort-item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--white30);
}

.goods__sort-item a:hover {
    color: var(--white60);
}

.goods__sort-item a:active {
    color: var(--basic-white);
}

.goods__sort-item--active a {
    color: var(--basic-white);
}

.goods__sort-item--active a:hover {
    color: var(--basic-white);
}

.goods__sort-updown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.goods__sort-up-link {
    opacity: 0.2;
}

.goods__sort-up-link:hover,
.goods__sort-down-link:hover {
    opacity: 0.4;
}

.goods__sort-up-link:active,
.goods__sort-down-link:active {
    opacity: 1;
}

.goods__sort-up--active a,
.goods__sort-down--active a {
    opacity: 1;
}

.goods__list {
    display: flex;
    flex-wrap: wrap;
    width: 852px;
    margin: 0;
    padding-top: 69px;
    padding-left: 72px;
}

.goods-item {
    width: 360px;
    margin-right: 40px;
    ;
}

.goods-item:nth-child(2n) {
    margin-right: 0;
}

.goods-item__info {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 45px;
}

.goods-item__info h1 {
    width: 260px;
    margin: 0;

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    letter-spacing: 0.01em;
}

.goods-item:nth-child(2) h1 {
    width: 180px;
}

.goods-item__info a {
    color: var(--basic-black);
}

.goods-item__price {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.01em;
}

.goods-item__hover {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 360px;
    height: 380px;
    padding-top: 169px;
    padding-right: 90px;
    padding-left: 90px;

    text-align: center;

    background-color: var(--gray70);
}

.goods-item:hover .goods-item__hover {
    display: block;
}

.goods-item__hover .btn {
    width: 200px;
    margin-bottom: 6px;
    margin-left: -11px;

    background: none;
    border: none;
}

.goods-item__add {
    font-size: 13px;
    line-height: 20px;
    color: var(--basic-black);
    letter-spacing: 0.01em;

    opacity: 0.5;
}

.goods-item__add:hover {
    opacity: 1;
}

.goods-item__add:active {
    opacity: 0.2;
}

.goods-item {
    position: relative;
}

.goods-item__new {
    position: absolute;
    top: 29px;
    right: 27px;

    display: none;
    box-sizing: border-box;
    width: 60px;
    height: 60px;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    font-family: "Gilroy", "Arial", sans-serif;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.05em;

    border: 2px solid var(--basic-black);
    border-radius: 50%;
    opacity: 0.2;
}

.goods-item__new--active {
    display: block;
}

.goods-item__img {
    position: relative;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin: 0;
    margin-top: -11px;
    margin-bottom: 77px;
    margin-left: 71px;
    padding: 0;

    list-style-type: none;

    background-color: var(--gray80);
}

.pagination__control--prev {
    display: block;
    width: 134px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
}

.pagination__control--next {
    display: block;
    width: 134px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;

    text-align: right;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.pagination__item {
    width: 40px;

    text-align: center;
}

.pagination__control {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    cursor: pointer;
}

.pagination__control:hover {
    background-color: var(--gray80);
}

.pagination__control:hover {
    background-color: var(--gray80);
}

.pagination__control:active {
    color: var(--white30);
}

.pagination__item a {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    letter-spacing: 0.2em;

    opacity: 0.3;
}

.pagination__item a:hover {
    opacity: 0.6;
}

.pagination__item a:active {
    opacity: 1;
}

.pagination__item--active a {
    opacity: 1;
}

.pagination__item--active a:hover {
    opacity: 1;
}